composer.lock
modularity.hot
/.phpunit.cache
/node_modules
/vendor
.env
.env.backup
.env.production
.env.development
.env.staging
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
vue/src/js/Pages/customs
vue/src/js/components/customs
vue/src/js/config/themes/customs/**
!vue/src/js/config/themes/customs/**/.gitkeep
vue/src/sass/themes/customs/**
!vue/src/sass/themes/customs/**/.gitkeep
**/.DS_Store
**/test.*
.secrets

# Code Coverage Reports
/coverage-html/
/coverage-xml/
coverage.txt
coverage-clover.xml
