@use 'abstract' as *;

@use 'vuetify/settings' with (
  $button-icon-font-size: $button-icon-font-size,
  $button-font-size: $button-font-size,
  $button-height: $button-height,
  $button-max-width: $button-max-width,
  $button-density: $button-density,
  $button-stacked-density: $button-density,

  $card-actions-padding: $spacer * 4,
  // INPUT
  $field-font-size: $field-font-size,
  $field-label-floating-scale: $field-label-floating-scale, //0.81,
  $field-control-height: $field-control-height, //56px,
  $field-input-min-height: $field-input-min-height,

  $grid-gutter: $spacer * 4,

  // $grid-gutter-secondary: $spacer * 4 * calc(2 / 3) !default,
  // $grid-gutter-tertiary: $spacer * 4 * calc(1 / 3) !default,
  $input-density: $input-density,
  $input-control-height: $input-control-height, //56px,
  $input-font-size: $input-font-size,
  $input-line-height: $input-line-height, // default 1.5


  // $navigation-drawer-background: $navigation-drawer-background,
  // $navigation-drawer-color: $global-dark-text-color,

  $list-padding: 8px 0px,
  $list-nav-padding: $sidebar-padding 4px,
  // $list-item-one-line-padding: 8px 13px,
  $list-item-nav-subtitle-font-size: $list-item-nav-subtitle-font-size,
  // $list-item-padding: 4px calc($spacer * 6),

  // $list-item-icon-margin-end: 2px,
  $list-item-icon-margin-start: calc($spacer * 3),
  // $list-item-avatar-size: 56px,
  // $table-border: thin solid $table-border-color !default;


);
