// themes/${theme}/vuetify/_settings.scss
@use '../abstract' as *;

@use 'vuetify/settings' with (
  // $body-font-family: map-get(c.$vuetify, 'body-font-family'),
  $color-pack: false,
  $utilities: '',

  // $button-height: map-get(c.$vuetify, 'button-height'),
  $button-font-weight: map-get($font-weights, 'semiBold'),
  $button-font-size: $button-font-size,
  $button-max-width: $button-max-width,

  // INPUT
  // $field-border-radius: settings.$border-radius-root !default;
  // $field-rounded-border-radius: map-get(settings.$rounded, 'pill') !default;
  // $field-color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !default;
  // $field-disabled-color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity)) !default;
  // $field-error-color: rgb(var(--v-theme-error)) !default;
  $field-font-size: $input-font-size,
  // $field-letter-spacing: .009375em !default;
  // $field-max-width: 100% !default;
  // $field-transition-timing: .15s settings.$standard-easing !default;
  // $field-subtle-transition-timing: 250ms settings.$standard-easing !default;
  // $field-underlined-margin-bottom: 4px !default;
  // $field-clearable-margin: 4px !default;
  // $field-clearable-transition: .15s opacity, .15s width settings.$standard-easing !default;

  // // CONTROL
  // $field-control-solo-background: rgb(var(--v-theme-surface)) !default;
  // $field-control-solo-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !default;
  // $field-control-solo-elevation: 2 !default;
  // $field-control-solo-inverted-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !default;
  // $field-control-solo-inverted-focused-color: rgb(var(--v-theme-on-surface-variant)) !default;
  // $field-control-filled-background: rgba(var(--v-theme-on-surface), var(--v-idle-opacity)) !default;
  // $field-control-padding-start: 16px !default;
  // $field-control-padding-end: 16px !default;
  // $field-control-padding-top: 10px !default;
  // $field-control-padding-bottom: 5px !default;
  // $field-control-affixed-padding: 12px !default;
  // $field-control-affixed-inner-padding: 6px !default;
  // $field-control-underlined-height: 48px !default;
  // $field-control-underlined-padding-bottom: 2px !default;
  // $field-control-height: map-get(c.$vuetify, 'field-control-height'), // 50px

  $field-label-floating-scale: $field-label-floating-scale, //0.81,

  // $input-density: ('default': 0, 'comfortable': -2, 'compact': -4) !default;
  // $input-control-height: 40px,
  // $input-font-size: tools.map-deep-get(settings.$typography, 'body-1', 'size') !default;
  // $input-font-weight: tools.map-deep-get(settings.$typography, 'body-1', 'weight') !default;

  // $input-line-height: map-get(c.$vuetify, 'input-line-height'),
  // $input-control-height: map-get(c.$vuetify, 'input-control-height'),

  // $input-details-font-size: .75rem !default;
  // $input-details-font-weight: 400 !default;
  // $input-details-letter-spacing: .0333333333em !default;
  // $input-details-line-height: normal !default;
  // $input-details-min-height: 22px !default;
  // $input-details-padding-above: 6px !default;
  // $input-details-transition: 150ms settings.$standard-easing !default;

  $navigation-drawer-background: $sidebar-background,
  $navigation-drawer-color: $global-dark-text-color,

  $line-height-root: $line-height-root,


  // $list-background: map-get(c.$vuetify, 'list-background'),
  // $list-color: map-get(c.$vuetify, 'list-color'), //rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)),
  $list-padding: 8px 0px,
  $list-nav-padding: 1px,
  $list-item-one-line-padding: 8px 13px,
  $list-item-padding: 4px $theme-space,

  $table-border-color: #E0E0E0,
);
